




 

<style>

 


#styledImage {border: maroon; border-width: 40px; border-style: solid;}

#redone {color: red;}
#blueone {color:blue;}
#greenone {color: green;}
#bigboy {font-size: 40px;}

.centerone {text-align: center;}

.boldface {font-weight: bold;}

.newface {font-family: fantasy;}


.trithangs {font-size: 40px; color:orange; font-weight: bold}

.styledFont {color:slateblue; font-family:Verdana, Geneva, Tahoma, sans-serif; text-align: center;}

#styledImage {border: maroon; border-width: 40px; border-style: solid;}


</style>










